##
##  mod_perl.config -- mod_perl shared configuration file
##

#   mod_perl version
MOD_PERL_VERSION = 1.11_01-dev

#   Perl interpreter to use 
PERL = DEFAULT

LIBPERL = DEFAULT

#   Modules to compile statically into mod_perl
PERL_STATIC_EXTS = Apache Apache::Constants Apache::ModuleConfig
PERL_STATIC_SRCS = Apache.c Constants.c ModuleConfig.c

#   standard hooks
PERL_DISPATCH           = yes
PERL_CHILD_INIT         = yes
PERL_CHILD_EXIT         = yes
PERL_POST_READ_REQUEST  = yes
PERL_TRANS              = yes
PERL_HEADER_PARSER      = yes
PERL_ACCESS             = yes
PERL_AUTHEN             = yes
PERL_AUTHZ              = yes
PERL_TYPE               = yes
PERL_FIXUP              = yes
PERL_HANDLER            = yes
PERL_LOG                = yes
PERL_INIT               = yes
PERL_CLEANUP            = yes
PERL_STACKED_HANDLERS   = yes
PERL_METHOD_HANDLERS    = yes
PERL_DIRECTIVE_HANDLERS = yes
PERL_SECTIONS           = yes
PERL_RESTART            = yes

#   special hooks
PERL_SSI                = no
PERL_TRACE              = no
PERL_THREADS            = no

